/* CSS */

/* body */

body { color: white;
	 background-color:black ;
	 margin: 0%;
	}

/* header */

	header{
	   position:fixed;
	   z-index:1;
	   top:0;
	   left:0;
	   right:0;
	}

/* nav */

nav{ font-family: Verdana;
	 }
	 
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
  }
  
nav  li {
	float: left;
  }
  
nav  li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  
nav  li a:hover {
	background-color: #111;
  }

/* main */

  main{ font-family: Tahoma;
	   font-size: 90%;
	margin-top: 11%;
}

/* aside */

aside{position: fixed;
	background-color:rgb(73, 73, 73);
	padding: 1%;
	border-radius:2px;
	box-shadow: 0px 0px 6px rgb(65, 65, 65);
	background-size: contain;
	float:left;
	}

aside a{text-decoration: none;
		 color: #fff;
		}

aside ul{list-style-type: none;}

aside li{ background-color: rgb(88, 88, 88);
	       border-radius:5px;
		  padding: 5px; 
		  margin-bottom: 2%;
		  box-shadow: 0px 0px 6px rgb(65, 65, 65);
		}

aside li:hover{	filter: opacity(60%);}

/* h1,h3,h4 */
				
h1{text-align: center;}

h4,h3{text-align: center;}

h1:hover {color: blue;}

li:hover, h4:hover,h2:hover{color: red;}

/* perfil */

.perfil{
	   background-color: rgb(88, 88, 88);
	   color: #fff;
	   text-align: center;
	   margin-left:10%;
	   margin-right:10%;
	   box-shadow: 0px 0px 6px rgb(65, 65, 65);
	   border-radius:2px;
}

.perfil img{width:20%;
		 filter:grayscale(30%);   
		}

/* tabela */

.tabela{
	   background-color: rgb(73, 73, 73);
	   color: #fff;
	   text-align: center;
	   margin-left: 5%;
	   margin-right: 5%;
	   box-shadow: 0px 0px 6px rgb(65, 65, 65);
	   border-radius:2px;
}

.tabela td,th, tr{ border : 1px solid white; }

.tabela img {width:100%;
			 height:250px;}

 .tabela td {width: 50%;}

 /* imagens pag1 */

.imgpag1 {width: 10%;
		 margin-left: 43%;}

/* parte 1 */

.parte1 { background-color: rgb(88, 88, 88);
			   margin-left: 6%;
			   margin-right: 6%;
			   box-shadow: 0px 0px 6px rgb(65, 65, 65);
			   border-radius:2px;
			 }

/* parte 2 */

.parte2 { background-color: rgb(88, 88, 88);
			   margin-left: 10%;
			   margin-right: 10%;
			   box-shadow: 0px 0px 6px rgb(65, 65, 65);
			   border-radius:2px;
			  }

.parte2 img{width: 20%;}

/* parte 3 */

.parte3 { background-color: rgb(88, 88, 88);
			   margin-left: 14%;
			   margin-right: 14%;
			   box-shadow: 0px 0px 6px rgb(65, 65, 65);
			   border-radius:2px;
			  }

.parte3 a {text-decoration: none;
		   color: #fff;}

.parte3 a:hover{color: red;}

/* lista */

 li{list-style-type: none;
	 text-align: center;
	 margin-bottom: 1%;}

/* videos e iframe */

video{width: 50%;
	  margin-left: 27%;
	  border: 1px solid #333;}
	  
iframe{margin-left: 30%;
	   border: 1px solid #333;
	   filter: brightness(50%) ;}

iframe:hover{filter: brightness(100%);}

/* principal */

.principal {
    width: 50%;
	float:right;
	bottom: 0px;
	margin-right: 20%;
	padding:2%;
	border-radius:2px;
	box-shadow: 0px 0px 6px rgb(65, 65, 65);
	background-color: rgb(73, 73, 73);
}

.principal h1, h2, p{margin-bottom: 2%;
   text-align: center;}

.principal p:hover{color:  yellow;}

/* figuras */

.figuras{border-radius:10px;
		 width:40%;
		margin-left: 29%;
	    margin-bottom: 4%;
	    filter: opacity(50%);
	  }

.figuras:hover {filter: opacity(100%);}

.blue:hover {color: blue;}

/* footer  */

footer{ font-family: Georgia;
	left:0;
	bottom:0;
	margin-top:10px;
	width:100%;
	height:80px;
	text-align:center;
}

.redes{
	float:left;
	left: 0;
	right: 0;
	bottom:0;
	background-color:#333;
	width:100%;
	margin-top:2%;
}

#social{
	padding-bottom:2%;
	margin-left: 0%;
	margin-right: 5%;
}

.redes img{
	margin-left:6%;
	margin-top: 2%;
	width: 2%;
}

.imagenscontato{filter: grayscale(100%);}

.redes img:hover{filter: grayscale(0%);}

/* Responsivo */

	
@media screen and (max-width:768px){
	
	nav{font-size: 5px;}
	main{margin-top: 15%;}
	footer{font-size: 5px;}
	.principal {margin-right: 10%;}
	iframe{width: 50%;}
	.parte2 li,.parte3 li {margin-right: 10%;}
   }


   @media screen and (max-width:414px){
	
	aside {position: relative;
		   margin-left: 20%;
		   width: 60%; }
	
	.principal{margin-top: 15%;
			   margin-right: 10%;
			   margin-bottom: 15%;
	           width: 70%;}

   .parte3 h3{font-size: 50%;}
}
	
@media screen and (max-width:360px){
	
	nav{font-size: 3px;}
    

}
